@import "tailwindcss";
@import "@heroui/styles";

@custom-variant dark (&:is(.dark *));

@theme {
	--font-sans: "font", sans-serif;
	--font-mono: "monospace", monospace;
}

@layer base {
  :root {
    /* Adjust container-lg to your desired value */
    --container-lg: 80rem; /* e.g., 1280px instead of default 75rem */
  }
}